<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        <meta charset='utf-8'/>
        <link href="static\main.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <h1> Bienvenue</h1>
        <br>
        <br>
        <form action="" method="post">
            <label>Choisir la ville :</label><br>
            <SELECT name="ville" size="1">
            <OPTION>Argenteuil
            <OPTION>Sannois
            <OPTION>Cergy
            </SELECT>
            <br>
            <br>

            <label>Choisir la station :</label><br>
            <SELECT name="station" size="1">
            <OPTION>Station1
            <OPTION>Station2
            <OPTION>Station3
            </SELECT>
            <br>

            <br>
            <br>
            <input type="submit" value="OK" >
        </form>


    </body>
</html>