<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VELOS</title>
</head>
<body>
    <h1>Welcome to the velib app</h1>
        <br>
        <br>
        <form action="showSummary" method="post">
            <label>Entrer la commune de départ:</label><br>
            <SELECT name="com" size="1">
                {% for com in coms %}
                <li><OPTION>{{com}}</li>
            {% endfor %}
            </SELECT>
            <br>
            <br>
        <button type="submit">Enter</button>
    </form>

    {% if error %}
    <p class=error><strong>Sorry:</strong> {{ error }}
        {% endif %}
</body>
</html>