<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
        <h2style="text-align:center">
Welcome to {{w_info['name']}} </h2>
<p> <ul>
<li> Weather :{{w_info['weather'][0]['main']}} </li>
<li> Temperature :{{w_info['main']['temp']}}</li>
<li> Temperature min:{{w_info['main']['temp_min']}}</li>
<li> Temperature max:{{w_info['main']['temp_max']}}</li>
<li> Sunset :{{w_info['sys']['sunset']}}</li>
<li> Sunrise :{{w_info['sys']['sunrise']}}</li>
<li> Wind speed :{{w_info['wind']['speed']}}</li>
</ul>
</p>
<h3>Les stations en deploiement de cette ville sont: </h3>
<p><ul>{% for station in is_returning %}
<li>{{station[0]}} <ul>
    <li> number of ebikes available: {{station[1]}}</li>    
   <li>number of mechanical bikes available: {{station[2]}}.</li>
</ul>
</li>
{% endfor %}
</ul></p>
<a href="{{url_for('logout')}}">Logout</a>
</body>
</html>
